.Card {
    color: #4A4A4A;

    background-color: #FAFAFF;
    border-radius: 12px;
    padding: 1.5rem;
    border: 1px solid #cacabd;
    position: relative;
    overflow: hidden;
}

.Card .plan {
    color: white;
    background-color: var(--color);
    padding: 2px 14px 3px 14px;
    border-radius: 50px;

    position: absolute;
    top: 20.18px;
    left: 20.93px;
}

.Card .values {
    margin-top: 15%;
}

.Card .values .sm-txt {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2.15rem;
    text-align: left; 
}
.Card .values .bg-txt {
    font-family: 'DM Sans';
    color: var(--color);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.15rem;
    text-align: left; 
}

.Card .plan p {
    font-family: 'DM Sans';
    font-weight: 500;
    text-align: center;
    margin: 0;
    font-size: 15px;
}

.Card .cta-fw{
    height: 3.5rem;
    margin-top: 0.75rem;
    color: #fff;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    background-color: var(--color);
    padding: 2px 14px;
    border-radius: 1.15rem;
    gap: 10px;
}

.Card .staking-amount {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #C2C2C2;
    text-align: left;
}

.Card #warnning_part, .warnning-text {
    color: #4A4A4A;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

@media (max-width: 1100px) {
    .Card .flex-row:nth-child(2) {
        flex-wrap: wrap;
    }

    .Card .flex-col.w-50 {
        width: 100%;
    }
}
@media (max-width: 911px) {
    .Card .flex-row:nth-child(2) {
        flex-wrap: nowrap;
    }

    .Card .flex-col.w-50 {
        width: 50%;
    }
}
/* @media (max-width: 600px) {
    .Card .flex-row {
        flex-wrap: wrap !important;
    }

    .Card .flex-col.w-50 {
        width: 100%;
    }
} */